@media screen and (min-width: 1200px) {
    body {
        padding-top: 180px;
    }

    p {
        font-size: 1.25em;
    }

    h1 {
        font-size: 4.75em;
    }

    h2 {
        font-size: 3.25em;
    }

    h3 {
        font-size: 1.9em;
    }

    h4 {
        font-size: 1.2em;
    }

    .upperContentBox {
        width: 1080px;
        padding: 0 var(--space-l) 0 var(--space-l);
    }

    .mainBox {
        flex-direction: row;
    }

    .titleBox {
        width: 400px;
        margin: auto 0 auto 0;
    }

    .socialBox {
        width: 450px;
        margin: auto 0 auto 0;
    }

    .socialLogo {
        width: 70px;
        height: 70px;
    }

    .scrollIndicator {
        margin-bottom: var(--space-xxl);
    }

    .lowerSectionTop {
        padding: var(--space-xxl) 0 var(--space-l) 0;
    }

    .lowerSectionMain {
        margin-top: -95px;
    }

    .lowerContentBox {
        width: 1080px;
        padding: 0 var(--space-l) 0 var(--space-l);
    }

    .articleIntroBox {
        margin: 0 auto var(--space-l) auto;
    }

    .articleIntroBox p {
        font-size: 1.2em;
    }

    .articlesBox {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto var(--space-xxxl) auto;
    }


    .articlesBox a:link, .articlesBox a:visited {
        display: flex;
        flex-basis: 25%;
        flex-shrink: 0;
        flex-grow: 0;
        flex-direction: column;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;   
        border-radius: var(--space-xs);
        background-color: var(--color-card-background-default);
        text-decoration: none;
        padding: var(--space-s);
    }

    .articlesBox a:hover {
        background-color: var(--color-card-background-selected);
    }

    .articlesBox p {
        font-size: 1em;
    }

    .articleDataRow {
        font-size: 0.9em;
    }

    .projectIntroBox {
        margin: 0 auto var(--space-l) auto;
    }

    .projectIntroBox p {
        font-size: 1.2em;
    }

    .projectsBox {
        flex-direction: row;
        margin: 0 auto var(--space-xxl) auto;
        gap: var(--space-xxl);
    }

    .creditsBox {
        width: fit-content;
        margin: 0 auto var(--space-m) auto;
    }
}
