@import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

:root {
    /* COLOR PALETTE */

    --color-white: #ffffff;
    --color-black: #000000;

    --color-accent: #d3869b;
    --color-dark-background: #1a1a1a;

    --color-hemnet: #39aa35;
    --color-link-box: #e8e8e8;

    --color-code-box-white: #fbf1c7;
    --color-code-box-red: #fb4934;
    --color-code-box-blue: #84a598;
    --color-code-box-green: #b9bb26;
    --color-code-box-yellow: #fabd3f;


    /* SPACES */

    --space-small: 15px;
    --space-normal: 30px;
    --space-large: 60px;
    --space-very-large: 90px;
    --space-huge: 120px;


    /* FONTS */

    --font-main: 'Nunito', sans-serif;
    --font-title: 'Vollkorn', serif;
    --font-link: 'roboto', sans-serif;
    --font-code-box: 'Fira Mono', monospace 
}


/* LAYOUT */

/* Common */

html, body {
    margin: 0;
    background-color: var(--color-dark-background)
}

p {
    margin: 0;
    font-family: var(--font-main);
}

a:link, a:visited {
    color: var(--color-black);
}

a:hover {
    color: var(--color-accent);
}

h1, h2, h3 {
    margin: 0;
    width: fit-content;
    font-family: var(--font-title);
}

h1 {
    line-height: 1.2;
}

.rootBox {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.linkBox {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.linkBox a:link, .linkBox a:visited {
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--color-link-box);
    border-radius: 10px;
    color: var(--color-link-box);
    font-family: var(--font-link);
}

.linkBox a:hover {
    border: 2px solid var(--color-accent);
    color: var(--color-accent)
}

.titleBox h1 {
    color: var(--color-accent)
}

.titleBox p {
    color: var(--color-white);
}

.titleBox h1 span {
    animation: blink linear 2s;
    animation-delay: 1s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79%{
        color: #333;
    }

    80% {
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.mainBox {
    margin-bottom: var(--space-huge);
}

a.hemnet {
    transition: color 2s;
    text-decoration: none;
    color: var(--color-white);
}

a.hemnet:hover {
    color: var(--color-hemnet);
}

.codeBox {
    width: 540px;
    height: 290px;
    padding-top: 50px;
    color: var(--color-code-box-white);
    background-color: var(--color-dark-background);
    font-family: var(--font-code-box);
}

.scrollIndicator {
    animation: bounce 2s; 
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-align: center;
    color: var(--color-white);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.lowerSectionTop {
    transform: skew(0deg, 3deg);
    position: relative;
    background-color: var(--color-white);
}

.lowerSectionMain {
    flex: 1;
    z-index: 1;
    background-color: var(--color-white);
}

.lowerContentBox {
    margin: 0px auto 0px auto;
}

.projectIntroBox h2 {
    margin: 0 auto 0 auto;
}

.projectIntroBox p {
    margin: 0 auto 0 auto;
    font-style: italic;
    width: fit-content;
}

.projectDescriptionBox {
    display: block;
    height: fit-content;
}

.projectDescriptionBox p {
    margin-bottom: var(--space-small);
}

.projectLogo {
    display: block;
    margin: auto;
}

.googlePlayButton {
    display: block;
    margin-left: -10px;
}

.soundcloudEmbedded {
    margin-top: 20px
}

.creditsBox {
    text-align: center;
}

.creditsBox p {
    font-size: 0.8em;
}


/* Code box styles */

.red {
    color: var(--color-code-box-red);
}

.purple {
    color: var(--color-accent);
}

.blue {
    color: var(--color-code-box-blue);
}

.green {
    color: var(--color-code-box-green);
}

.yellow {
    color: var(--color-code-box-yellow);
}

.fat {
    font-weight: bold;
}

.in2 {
    margin-left: 2em;
}

.in4 {
    margin-left: 4em;
}

.in6 {
    margin-left: 6em;
}

.in8 {
    margin-left: 8em;
}


/* Mobile */

@media screen and (max-width: 1280px) {
    body {
        padding-top: var(--space-normal);
    }

    h1 {
        font-size: 3em;
        padding: 0;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.75em;
    }

    p {
        font-size: 1em;
    }

    .upperContentBox {
        padding-bottom: var(--space-huge);
    }

    .linkBox {
        margin: 0 var(--space-normal) var(--space-huge) var(--space-normal);
    }

    .titleBox {
        margin: auto var(--space-normal) auto var(--space-normal);
    }

    .mainBox {
        margin-bottom: var(--space-huge);
    }

    .codeBox {
        display: none;
    }

    .lowerSectionTop {
        padding: var(--space-large) 0 var(--space-normal) 0; 
    }

    .lowerSectionMain {
        margin-top: -33px;
        padding: 0 var(--space-normal) var(--space-small) var(--space-normal);
    }

    .lowerContentBox {
        width: fill-content;
    }

    .projectBox {
        margin-bottom: var(--space-very-large);
    }
   
    .projectIntroBox {
        margin: var(--space-normal) auto var(--space-very-large) auto;
    }

    .projectIntroBox p {
        font-size: 1.15em;
        text-align: center;
    }

    .projectDescriptionBox {
        margin: var(--space-normal) var(--space-normal) 0 var(--space-normal);
    }

    .projectLogo {
        width: 150px;
        height: 150px;
    }

    .googlePlayButton {
        height: 60px;
    }

    .soundcloudEmbedded {
        display: none;
    }

    .creditsBox {
        margin: 0 var(--space-small) 0 var(--space-small);
    }
}


/* Desktop */

@media screen and (min-width: 1280px) {
    body {
        padding-top: var(--space-large);
    }

    h1 {
        font-size: 4.25em;
    }

    h2 {
        font-size: 3.25em;
    }

    h3 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.25em;
    }

    .upperContentBox {
        margin: 0 auto 0 auto;
        padding: 0 var(--space-large) var(--space-huge) var(--space-large);
        width: 1160px;
    }

    .linkBox {
        margin: 0 0 var(--space-large) auto;
        width: 300px;
    }

    .mainBox, .projectBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .titleBox {
        width: 420px;
        margin: auto 0 auto 0;
    }

    .lowerSectionTop {
        padding: 130px 0 var(--space-large) 0;
    }

    .lowerSectionMain {
        margin-top: -95px;
        padding: 0 var(--space-large) var(--space-small) var(--space-large);
    }

    .lowerContentBox {
        width: 1000px;
    }

    .projectIntroBox {
        width: 800px;
        margin: 0 auto var(--space-huge) auto;
    }

    .projectIntroBox p {
        font-size: 1.5em;
        margin: 0 auto 0 auto;
    }

    .projectBox {
        margin-bottom: var(--space-huge);
    }

    .projectDescriptionBox {
        width: 600px;
        margin: auto 0 auto 0;
    }

    .projectLogo {
        width: 200px;
        height: 200px;
    }

    .googlePlayButton {
        height: 70px;
    }

    .creditsBox {
        width: fit-content;
        margin: 0 auto 0 auto;
    }
}
