@import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:700');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

@import "mobile.css";
@import "desktop.css";

:root {
    /* Colors */

    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary: #DCC788;
    --color-accent: #878FAB;

    --color-dark-background: #292D3C;
    --color-text-primary: #404040;


    /* Spaces */

    --space-xs: 15px;
    --space-s: 23px; 
    --space-m: 30px;
    --space-l: 60px;
    --space-xl: 90px;
    --space-xxl: 120px;
    --space-xxxl: 180px;


    /* Fonts */

    --font-main: 'Vidaloka', serif;
    --font-title: 'Vollkorn', serif;
    --font-body: 'roboto-regular', sans-serif;
    --font-link: 'roboto', sans-serif;
}


html, body {
    margin: 0;
    background-color: var(--color-dark-background)
}

p {
    margin: 0;
    font-family: var(--font-body);
    color: var(--color-text-primary);
    line-height: 1.5em;
}


h1, h2, h3 {
    margin: 0;
    width: fit-content;
    color: var(--color-text-primary);
}

h1 {
    line-height: 1;
    font-family: var(--font-main);
    font-weight: normal;
}

h2, h3 {
    font-family: var(--font-title);
}

h4 {
     font-family: var(--font-body);
     color: var(--color-text-primary);
}

.rootBox {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.upperContentBox {
    margin: 0 auto 0 auto;
}

.mainBox {
    display: flex;
    justify-content: space-between;
}

.socialBox {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.socialLogo path {
    fill: var(--color-accent);
}

.titleBox h1 {
    color: var(--color-primary);
    margin-bottom: var(--space-s);
}

.titleBox p {
    color: var(--color-white);
}

.titleBox h1 span {
    animation: blink linear 2s;
    animation-delay: 1s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79%{
        color: #333;
    }

    80% {
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.mainBox {
    margin-bottom: var(--space-xxl);
}

.scrollIndicator {
    animation: bounce 2s; 
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-align: center;
    color: var(--color-white);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.lowerSectionTop {
    transform: skew(0deg, 3deg);
    position: relative;
    background-color: var(--color-white);
}

.lowerSectionMain {
    flex: 1;
    z-index: 1;
    background-color: var(--color-white);
}

.lowerContentBox {
    margin: 0px auto 0px auto;
}

.articleIntroBox h2 {
    margin: 0 auto 0 auto;
}

.articleIntroBox p {
    text-align: center;
    margin: 0 auto 0 auto;
    font-style: italic;
    width: fit-content;
}

.articlesBox {
    display: flex;
    justify-content: center;
    gap: var(--space-m);
}

.articlesBox a:link, .articlesBox a:visited {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: var(--space-m);
    background-color: #f6f6f6;
    text-decoration: none;
    padding: var(--space-s);
}

.articlesBox a:hover {
    border-radius: var(--space-m);
    background-color: #e7e7e7;
    text-decoration: none;
    padding: var(--space-s);
}

.articlesBox img {
    width: 100%;
}

.articleDescription {
    margin-bottom: var(--space-m);
}

.articleDataRow {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.projectIntroBox h2 {
    margin: 0 auto 0 auto;
}

.projectIntroBox p {
    text-align: center;
    margin: 0 auto 0 auto;
    font-style: italic;
    width: fit-content;
}

.projectsBox {
    display: flex;
    justify-content: space-between;
}

.projectsBox a:link, .projectsBox a:visited {
    flex: 1;
    border-radius: var(--space-m);
    background-color: #f6f6f6;
    text-decoration: none;
    padding: var(--space-m);
}

.projectsBox a:hover {
    border-radius: var(--space-m);
    background-color: #e7e7e7;
    text-decoration: none;
    padding: var(--space-m);
}

.projectsBox img {
    margin: 0 auto var(--space-m) auto;
    display: block;
}

.creditsBox {
    text-align: center;
}

.creditsBox p {
    font-size: 0.8em;
}

.creditsBox a:link, .creditsBox a:visited {
    color: var(--color-black);
}

.creditsBox a:hover {
    color: var(--color-accent);
}
