@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

/* LAYOUT */

/* Mobile */

@media screen and (max-width: 500px) {
    body {
        padding-top: 40px;
    }

    h1 {
        font-size: 3em;
        padding: 0;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.75em;
    }

    p {
        font-size: 1em;
    }

    .upperContentBox {
        padding-bottom: 100px;
    }

    .linkBox {
        margin: 0 40px 80px 40px;
    }

    .titleBox {
        margin: auto 40px auto 40px;
    }

    .mainBox {
        margin-bottom: 150px;
    }

    .codeBox {
        display: none;
    }

    .lowerSectionTop {
        padding: 20px 0 20px 0;
    }

    .lowerSectionMain {
        padding: 20px 0 10px 0;
        margin-top: -10px;
    }

    .lowerContentBox {
        width: fill-content;
    }

    .projectIntroBox {
        margin: 0 auto 60px auto;
    }

    .projectIntroBox p {
        font-size: 1.15em;
        text-align: center;
        margin: 0 40px 0 40px;
    }

    .projectDescriptionBox {
        margin: 40px 40px 0 40px;
    }

    .projectLogo {
        margin-bottom: 200px;
        width: 150px;
        height: 150px;
    }

    .googlePlayButton {
        height: 60px;
    }

    .creditsBox {
        margin: 0 10px 0 10px;
    }
}

/* Deskop */

@media screen and (min-width: 500px) {
    body {
        padding-top: 60px;
    }

    h1 {
        font-size: 4.25em;
    }

    h2 {
        font-size: 3.25em;
    }

    h3 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.25em;
    }

    .upperContentBox {
        margin: 0 auto 0 auto;
        width: 1280px;
        padding-bottom: 100px;
    }

    .linkBox {
        margin: 0 0 80px auto;
        width: 300px;
    }

    .mainBox, .projectBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .titleBox {
        margin: auto 0 auto 0;
        width: 420px;
    }

    .lowerSectionTop {
        padding: 100px 0 100px 0;
    }

    .lowerSectionMain {
        padding: 10px 0 10px 0;
        margin-top: -110px;
    }

    .lowerContentBox {
        width: 1000px;
    }

    .projectIntroBox {
        margin: 0 auto 120px auto;
        width: 800px;
    }

    .projectIntroBox p {
        font-size: 1.5em;
        margin: 0 auto 0 auto;
    }

    .projectDescriptionBox {
        margin: auto 0 auto 0;
        width: 600px;
    }

    .projectLogo {
        width: 200px;
        height: 200px;
    }

    .googlePlayButton {
        height: 70px;
    }

    .creditsBox {
        width: fit-content;
        margin: 0 auto 0 auto;
    }
}

/* Common */

html, body {
    margin: 0;
}

p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Vollkorn', serif;
    margin: 0;
    width: fit-content;
}

a {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.rootBox {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.linkBox {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.linkBox a:link, .linkBox a:visited {
    counter-increment: section;
    font-weight: bold;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    color: #686868;
    border: 2px solid #686868;
    padding: 10px;
    position: relative;
}

.linkBox a:hover {
    border: 2px solid #000000;
    color: #000000;
}

.linkBox a::before {
    content: "LINK " counter(section);
    font-size: 0.6em;
    font-weight: light;
    background-color: #ffffff;
    padding: 0 2px;
    top: -7px;
    left: 4px;
    position: absolute;
}

.titleBox p {
    font-family: 'Cutive Mono', monospace;
}

.erik {
    transition: color 3s;
}

.erik:hover {
    color: #fb4934;
    cursor: pointer;
}

.codeBox {
    font-size: 1em;
    font-family: 'Fira Mono', monospace;
    color: #fbf1c7;
    background: #282828;
    padding: 40px 0 0 40px;
    width: 540px;
    height: 290px;
}

.scrollIndicator {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 64px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align: center;
  color: #686868;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.lowerSectionTop {
    background-color: #f2f2f2;
    position: relative;
    transform: skew(0deg, 3deg);
}

.lowerSectionMain {
    background-color: #f2f2f2;
    flex: 1;
    z-index: 1;
}

.lowerContentBox {
    margin: 0px auto 0px auto;
}

.projectBox {
    margin-bottom: 120px;
}

.projectIntroBox h2 {
    margin: 0 auto 0 auto;
}

.projectIntroBox p {
    font-style: italic;
    width: fit-content;
}

.projectDescriptionBox {
    display: block;
    height: fit-content;
}

.projectDescriptionBox p {
    margin-bottom: 10px;
}

.googlePlayButton {
    display: block;
    margin-left: -10px;
}

.projectLogo {
    display: block;
    margin: auto;
}

.creditsBox {
    text-align: center;
}

.creditsBox p {
    font-size: 0.8em;
}

.creditsBox a:link, .credits a:visited {
    color: #000000;
}

.creditsBox a:hover {
    color: #686868;
}


/* Code box styles */

.red {
    color: #fb4934;
}

.purple {
    color: #d3869b;
}

.blue {
    color: #83a598;
}

.green {
    color: #b8bb26;
}

.yellow {
    color: #fabd2f;
}

.fat {
    font-weight: bold;
}

.in2 {
    margin-left: 2em;
}

.in4 {
    margin-left: 4em;
}

.in6 {
    margin-left: 6em;
}

.in8 {
    margin-left: 8em;
}
